
.table{
    text-align: left !important;
    vertical-align: text-top !important;

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#tableHeading{
    position: relative;
    top: 47px;
    text-align: center;
}
#expenseTable{
    margin-top: -10px !important;
}
#col1,#col3{
    width: 80px !important;
}
#col2{
    width: 200px !important;
}
#col4{
    width: 150px !important;
}
#col5{
    width: 80px !important;
}

#total{
    margin-left: 300px;
}
#selectroleid
{
    display: inline-flex;
    height: 32px;
    margin-top: 29px;
    margin-right: 14px;
}
#addBtnDiv{
    display: flex;
    float: right;

    position: relative;
    top: 15px;
    right: 12px;
    
}
#addbtn{
    margin-top: 30px;
    height: 30%;
    padding-left: 6px;
    padding-right: 5px;
    padding-bottom: 4px;
    padding-top: 2px;
    font-size: 15px;
}
/* #addbtn{
    display: flex;
    float: right;
    position: relative;
    top: 52px;
    right: 12px;
} */
/* #totalAmount{
    width: 20%;
    border: 2px solid black;
} */
/* #totalBox{
    width: 270px;
    height: 40px;
    border: 2px solid #dee2e6;
    border-radius: 2px;
    text-align: left;
    padding-top: 4px;
    vertical-align: baseline;
    margin-bottom: 5px;
} */
#totalBox{
    margin-left: 45px;
    position: relative;
    bottom: 5px;
}
#totalText{
    font-size: larger;
    margin-left:20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    left: 40px !important;
}
#Box{
    display: flex;
    margin-left: 400px;
}
#editbtn,#savebtn,#deleteBtn{
    /* for datatable class=No compact */
     margin-top: -6px;  

    /* for datatable class=compact */
    padding-left: 8px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-top: 0px;
}
#role
{
    padding-top: 1% !important;
}